<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hubwheel</title>

</head>

<body>
  <section class="customization">
    <div class="home-navContainer">
      <div class="home-logoContainer"><a href="../index.html"><img src="../img/logosvg.svg" alt="Logo" class="home-logoImg"></div></a>
        <nav class="home-nav">
          <ul class="home-ul">
            <li class="home-navItem"><a href="../index.html" class="home-navItemLink">Home</a></li>
            <li class="home-navItem"><a href="#" class="home-navItemLink">About</a></li>
            <li class="home-navItem"><a href="../view/gallery.html" class="home-navItemLink">Gallery</a></li>
            <li class="home-navItem"><a href="customization.html" class="home-navItemLink">Customize</a></li>
            <li class="home-navItem"><a href="#" class="home-navItemLink">Help</a></li>
          </ul>
        </nav>
      </div>
  </section>
  <script src="../index.js"></script>
</body>

</html>