<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/gif" href="../img/favicon.png" />
  <title>hubwheel</title>

</head>

<body>
  <section class="product">
    <div class="product-navbarContainer">
      <div class="leftContainer-navbar">
        <nav class="leftContainer-navContainer">
          <div class="leftContainer-logoContainer">
            <img src="../img/logosvg.svg" alt="" class="leftContainer-logoImg">
          </div>
          <ul class="leftContainer-navItems">
            <li class="leftContainer-navItem">
              <a href="../index.html" class="leftContainer-navItemLink">Home</a>
            </li>
            <li class="leftContainer-navItem">
              <a href="#" class="leftContainer-navItemLink">About</a>
            </li>
            <li class="leftContainer-navItem">
              <a href="gallery.html" class="leftContainer-navItemLink">Gallery</a>
            </li>
            <li class="leftContainer-navItem">
              <a href="customization.html" class="leftContainer-navItemLink">Customize</a>
            </li>
            <li class="leftContainer-navItem">
              <a href="#" class="leftContainer-navItemLink">Help</a>
            </li>
          </ul>
        </nav>
        <div class="leftContainer-icons">
          <button class="leftContainer-btn">
            <img src="../img/account.svg" alt="Account" class="leftContainer-icon">
          </button>
          <button class="leftContainer-btn">
            <img src="../img/cart.svg" alt="Cart" class="leftContainer-icon">
          </button>
        </div>
      </div>

      <div class="product-backGalleryContainer">
        <a href="gallery.html">
          <img class="product-backImg" src="../img/arrow.svg" alt="back">
        </a>
        <a href="gallery.html">
          <p class="product-backText">Back to the gallery</p>
        </a>
      </div>

      <div class="product-contentContainer col-md-12">
        <div class="product-viewContainer col-md-6">
          <div class="product-imgContainer">
            <div class="product-rectangle --blue"></div>
            <img src="../img/largeLB.svg" alt="" class="product-contentImg">
          </div>
          <button class="product-btn3D" type="button" name="button">3D view</button>

        </div>
        <div class="product-descriptionContainer col-md-6">
          <div class="product-authorContainer">
            <p class="product-titleProject">"Blue"</p>
            <p class="product-designedBy">Designed By</p>
            <p class="product-authorName">Joel Peterson</p>
            <p class="product-tags">#Blue #Wheel #Custom</p>
            <div class="product-viewLikeContainer">
              <img src="../img/view.svg" alt="views" />
              <p class="product-viewsText">503 views</p>
              <img src="../img/like.svg" alt="likes" />
              <p class="product-likeText">224 likes</p>
            </div>
            <div class="product-btnContainer">
              <button class="product-buyBtn">Buy now</button>
              <div class="product-subBtn">
                <button class="product-editBtn">Edit this design</button>
                <button class="product-addBtn">Add to card</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <script src="../index.js"></script>
</body>

</html>