.bigContainer{
  display: flex;
  height: 100%;
  background-color: lightblue;
}

.navContainer {
  margin: 28px 28px;
  height: 24px;
  font-family: $font-ss;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  &-logoContainer {
    width: 130px;
    height: 24px;
    margin-right: 70px;
  }
  &-logoImg {
    width: 100%;
    height: auto;
  }
  &-navItems {
    display: flex;
  }
  &-navItem {
    margin-right: 28px;
    position: relative;
    &:hover {
      &::after {
        content: '';
        position: absolute;
        width: 50%;
        height: 2px;
        left: 25%;
        bottom: -6;
        background-color: $darkBlue;
        border-radius: 100px;
      }
    } 
  }
  &-navItemLink {
    color: $darkBlue;
  }
}

.panelContainer {
  width: 384px;
  height: 100%;
  z-index: 100;
  opacity: 80%;
  position: fixed;
  right: 0;
  transition: all ease 0.3s;
  &-panelBtn {
    transform: scaleX(-1);
    position: fixed;
    cursor: pointer;
  }
  &-panel {
    height: 100%;
    width: 320px;
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    padding: 20px 28px;
  }
  &-icons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 14px;
  }
  &-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  &-savedDesigns {
    margin-bottom: 14px;
  }
  &-boardContainer {
    display: flex;
    flex-direction: column;
  }
  &-title {
    color: $darkBlue;
    margin-bottom: 18px;
  }
  &-totalTitle {
    color: $darkBlue;
  }
  &-price {
    color: $yellow;
  }
  &-titlePrice {
    display: flex;
    justify-content: space-between;
  }
  &-subtitle {
    color: #7C7C7C;
    margin-bottom: 18px;
  }
  &-txt {
    color: #AEAEAE;
    margin-bottom: 14px;
  }
  &-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
  }
  &-topBtns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &-outlineBtn {
    cursor: pointer;
    height: 34px;
    width: 127px;
    font-size: 14px;
    color: $darkBlue;
    text-align: center;
    background-color: transparent;
    border: solid 2px $darkBlue;
    box-shadow: inset 0 0 0 0 $darkBlue;
    transition: ease-out 0.4s;
    &:hover {
      box-shadow: inset 200px 0 0 0 $darkBlue;
      color: #fff;
    }
  }
  &-shareBtn {
    cursor: pointer;
    height: 34px;
    width: 265px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    background-color: $red;
    margin-bottom: 10px;
    border: none;
    transition: ease 0.2s;
    &:hover {
      background-color: rgb(230, 90, 77);
    }
  }
  &-buyBtn {
    cursor: pointer;
    height: 34px;
    width: 265px;
    background-color: $yellow;
    text-align: center;
    font-size: 14px;
    color: $darkBlue;
    margin-bottom: 10px;
    border: none;
    transition: ease 0.2s;
    &:hover {
      background-color: rgb(235, 197, 74);
    }
  }
  &-socialBtns {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-shareTxt {
    color: #AEAEAE;
    margin-right: 10px;
  }
}

.fa {
  padding: 2px;
  font-size: 12px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  &:hover {
    opacity: 0.8;
  }
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.--isClosed {
  right:-320px;
  .panelContainer-panelBtn {
    transform: scaleX(1);
  }
}

.modalContainer {
  font-family: $font-ss;
  width: 600px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  align-self: center;
  position: absolute;
  left: 17%;
  display: none;
  &-modalContent{
    margin: 0 150px;
  }
  &-modalTitle{
    font-size: 35px;
    font-weight: bold;
    color:#072665;
    padding-top: 30px;
  }
  &-modalInputsContainer{
    padding: 50px 65px 15px;
    display: flex;
    flex-direction: column;
  }
  &-modalInput{
    font-size: 13px;
    color: #AEAEAE;
    background-color:transparent;
    font-weight: thin italic;
    width: 165px;
    height: 25px;
    margin-bottom: 30px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid grey;
  }
  &-modalShareContainer{
    margin: 0 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-modalShareBtn{
    cursor: pointer;
    height: 34px;
    width: 200px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    background-color: $red;
    margin-bottom: 10px;
    border: none;
    transition: ease 0.2s;
    &:hover {
      background-color: rgb(230, 90, 77);
    }
  }
  &-modalCancelBtn{
    margin: 15px 0;
    text-align: center;
    font-size: 15px;
    color: #AEAEAE;
  }
}