.customization {
  height: 100%;
  background-size: cover;
  overflow-x: hidden;
  &-panel {
    position: fixed;
    left: 120%;
    width: 321px;
    height: 100%;
    float: right;
    opacity: 80%;
    background-color: rgba(255,255,255, .8);
  }
  &-panelImg {
    display: block;
    float: right;
  }
  &-panelImgReverse {
    margin-left: -64px;
  }
  &-share {
    margin-left: 28px;
    margin-right: 28px;
  }
  &-alreadySaved {
    font-size: 28px;
    color: #052464;
    font-family: futura;
    margin-left: 28px;
  }
  &-parts {
    margin-left: 28px;
    margin-top: 20px;
    font-size: 28px;
    color: #052464;
    font-family: futura;
  }
  &-accountImg {
    position: absolute;
    display: inline-flex;
  }
  &-cartPanelParent {
  position: relative;
  }
  &-link {
    position: absolute;
    display: inline-flex;
  }
  &-account {
    position: absolute;
    margin-left: 242px;
    margin-top: 24px;
  }
  &-cart {
    position: absolute;
    margin-left: 277px;
    margin-top: 24px;
  }
  &-link {
    text-decoration: none;
  }
  &-panelItemImg {
    justify-content: space-between;
    align-items: center;
    margin-left: 28px;
    margin-top: 14px;
  }
  &-board {
    font-family: futura;
    margin-top: 20px;
    color: #7C7C7C;
    font-size: 18px;
    margin-left: 28px;
  }
  &-panellLink {
    align-items: center;
    display: inline-flex;
  }
  &-panelLink:focus {
    outline: none;
  }
  &-boardPrice {
    font-family: futura;
    margin-top: 20px;
    color: #F9D35B;
    font-size: 18px;
    margin-left: 12px;
  }
  &-panelBoard {
    display: inline-flex;
  }
  &-modelBoard {
    margin-top: 8px;
    margin-left: 28px;
    font-size: 14px;
    font-family: futura;
    color: #AEAEAE;
  }
  &-grip {
    margin-top: 8px;
    margin-left: 28px;
    font-size: 14px;
    font-family: futura;
    color: #AEAEAE;
  }
  &-pattern {
    margin-top: 8px;
    margin-left: 28px;
    font-size: 14px;
    font-family: futura;
    color: #AEAEAE;
  }
  &-truck {
    font-family: futura;
    margin-top: 20px;
    color: #7C7C7C;
    font-size: 18px;
    margin-left: 28px;
  }
  &-truckPrice {
    font-family: futura;
    margin-top: 20px;
    color: #F9D35B;
    font-size: 18px;
    margin-left: 12px;
  }
  &-panelTruck {
    display: inline-flex;
  }
  &-modelTruck {
    margin-top: 10px;
    margin-left: 28px;
    font-size: 14px;
    font-family: futura;
    color: #AEAEAE;
  }
  &-colorTruck {
    margin-top: 10px;
    margin-left: 28px;
    font-size: 14px;
    font-family: futura;
    color: #AEAEAE;
  }
  &-wheels {
    font-family: futura;
    margin-top: 20px;
    color: #7C7C7C;
    font-size: 18px;
    margin-left: 28px;
  }
  &-wheelsPrice {
    font-family: futura;
    margin-top: 20px;
    color: #F9D35B;
    font-size: 18px;
    margin-left: 12px;
  }
  &-panelWheels {
    display: inline-flex;
  }
  &-modelWheels {
    margin-top: 10px;
    margin-left: 28px;
    font-size: 14px;
    font-family: futura;
    color: #AEAEAE;
  }
  &-colorWheels {
    margin-top: 10px;
    margin-left: 28px;
    font-size: 14px;
    font-family: futura;
    color: #AEAEAE;
  }
  &-panelTotal {
    display: inline-flex;
  }
  &-total {
    margin-left: 28px;
    margin-top: 40px;
    font-size: 28px;
    color: #052464;
    font-family: futura;
  }
  &-totalPrice {
    font-family: futura;
    margin-top: 47px;
    color: #F9D35B;
    font-size: 18px;
    margin-left: 148px;
  }
  &-save {
    height: 34px;
    background-color: transparent;
    margin-left: 28px;
    margin-top: 14px;
    margin-right: 8px;
    width: 127px;
    text-align: center;
    font-size: 14px;
    color: #052464;
    font-family: futura;
    border: solid #052464 1px;
  }
  &-save:focus {
    outline: none;
  }
  &-addToCart {
    height: 34px;
    background-color: transparent;
    margin-top: 14px;
    margin-right: 8px;
    width: 127px;
    text-align: center;
    font-size: 14px;
    color: #052464;
    font-family: futura;
    border: solid #052464 1px;
  }
  &-addToCart:focus {
    outline: none;
  }
  &-shareToCommunity {
    height: 34px;
    width: 265px;
    font-size: 14px;
    color: #FFFFFF;
    font-family: futura;
    text-align: center;
    background-color: #F76C5E;
    margin-top: 11px;
    margin-left: 28px;
    margin-right: 28px;
  }
  &-shareToCommunity:focus {
    outline: none;
  }
  &-buy {
    width: 265px;
    height: 34px;
    background-color: #F9D35B;
    text-align: center;
    font-size: 14px;
    color: #052464;
    font-family: futura;
    margin-top: 11px;
    margin-left: 28px;
  }
  &-buy:focus {
    outline: none;
  }
  &-share {
    color: #AEAEAE;
    font-size: 14px;
    font-family: futura;
    margin-left: 91px;
    margin-top: 10px;
  }
  &-shareLink {
    align-items: center;
    display: inline-flex;
  }
  &-shareLink:focus {
    outline: none;
  }
  &-shareDiv {
    display: inline-flex;
  }
  &-media {
    margin-right: 10px;
    margin-top: 10px;
  }
  &-cartPanel {
    display: none;
    margin-left: 130px;
    margin-top: 50px;
    position: absolute;
    width: 180px;
    height: 120px;
    background-color: white;
    opacity: 90%;
    border: 1px solid black;
  }
  &-yourCart {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 16px;
    color: #052464;
  }
  &-yourCartClose {
    margin-top: 14px;
    margin-left: 36px;
    width: 10px;
    height: 10px;
  }
  &-cartPanelAlign {
    display: inline-flex;
  }
  &-yourCartPrice {
    margin-top: 24px;
    color: #F9D35B;
    font-size: 12px;
    margin-left: 20px;
  }
  &-cartPanelItemOne {
    margin-left: 10px;
    margin-top: 12px;
    width: 40px;
    height: 40px;
  }
  &-yourCartItem {
    display: inline-flex;
  }
  &-yourCartFinalPrice {
    color: #F9D35B;
    font-size: 16px;
    margin-left: 80px;
  }
  &-yourCartTotal {
    display: inline-flex;
    margin-left: 14px;
    margin-top: 16px;
  }
  &-yourCartFinalTotal {
    color: #052464;
  }
  &-yourCartDeleteItem {
    margin-top: 24px;
    margin-left: 50px;
    width: 12px;
    height: 12px;
  }
  &-nothing {
    display: none;
    text-align: center;
    color: #052464;
    margin-top: 16px;
    font-size: 16px;
  }
}
