
.home{
  font-family: Barlow regular;
  &-headerContainer{
    display: flex;
  }
  &-headerContainer{}
  &-navContainer{
    position: absolute;
    display: flex;
    padding-left: 50px;
  }
  &-logoContainer {
  }
  &-logoImg {
    width:200px;
    height:40px;
    margin: 2.5rem 4rem 7rem 0 ;
  }
  &-ul {
    font-family: Didot;
    display: flex;
    color: #052464;
    z-index: 100;
  }
  &-navItem {
    margin: 4.2rem 1.5rem;
    font-size: 14px;
  }
  &-navItemActive {
    margin: 4.2rem 1.5rem;
    font-size: 14px;
    border-bottom: solid #052464 2px;
  }
  &-navItemLink {
    color: #052464;
  }
  &-navItemLink:hover {
    transition: all ease auto 0.3s;
    transition-delay: all ease auto 0.3s;
    transition-duration: 0.3s;
    color: #80D9D5;
  }

  &-sectionContainer {
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    display: flex;
    @include for-size('tablet-portrait-up') {
      flex-wrap: nowrap;
    }
  }
  &-centerSection {
  }
  &-centerImg {
    width: 100%;
    height:100vh;
    background-size: cover;
    @include for-size('tablet-portrait-up') {
      width: 65vw;
      height:102vh;
      background-size: cover;
    }
  }
  &-rightImg {
    height: 51vh;
  }
  &-titleSection {
    color: white;
    width: 175px;
    font-size: 28px;
    position: absolute;
    margin: 30px 0 0 28px;
  }
  &-descriptionSection {
    position: absolute;
    font-family: roboto;
    font-weight: lighter;
    width: 400px;
    color: white;
    font-size: 14px;
    margin: 150px 0 0 28px;
  }
}
