
.home{
  font-family: 'Barlow', sans-serif;
  color: white;
  &-headerContainer{
    display: flex;
  }
  &-headerContainer{}
  &-navContainer{
    font-family: 'Barlow';
    position: absolute;
    display: flex;
    padding-left: 28px;
  }
  &-logoContainer {
  }
  &-logoImg {
    width:200px;
    height:40px;
    margin: 2.5rem 4rem 7rem 0 ;
  }
  &-ul {
    display: flex;
  }
  &-navItem {
    margin: 4.2rem 1.5rem;
    font-size: 14px;
    font-weight: medium;
    color: #052464;
  }
  &-navItem:hover{
    border-bottom: 2px solid #052464;
    transition: 0.3s ease;
  }
  &-navItemLink {
    color: #052464;
  }
  &-iconContainer{
    margin: 4rem 4.3rem;
  }
  &-iconImg{
    margin-left:1rem;

  }
  &-sectionContainer {
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    display: flex;
    @include for-size('tablet-portrait-up'){
    flex-wrap: nowrap;
    }
  }
  &-titlePrinciple{
    font-size: 44px;
    position: absolute;
    margin: 170px 0 30px 90px;
    width: 450px;
    font-weight: bold;
    line-height: 50px;
  }
  &-descriptionPrinciple{
    position: absolute;
    font-size: 16px;
    margin: 290px 0 0 90px;
    width: 410px;
    font-weight: medium;
    line-height: 19px;
  }
  &-centerSection{
  }
  &-centerImg {
    width: 100%;
    height:100vh;
    background-size: cover;
    @include for-size('tablet-portrait-up') {
      width: 65vw;
      height:102vh;
      background-size: cover;
    }
  }
  &-rightImg {
    height: 51vh;
  }
  &-titleSection {
    color: white;
    width: 175px;
    font-size: 28px;
    position: absolute;
    margin: 30px 0 0 28px;
    font-weight: bold;
  }
  &-descriptionSection {
    position: absolute;
    font-family: roboto;
    font-weight: lighter;
    width: 400px;
    color: white;
    font-size: 14px;
    margin: 150px 0 0 28px;
    font-weight: medium;
    line-height: 20px;
  }
  // &-usersSection {
  //   &:hover {
  //     + .home-customizSection {
  //       opacity: 0.5;
  //     }
  //   }
  // }
  // &-customizSection {
  //   &:hover {
  //     ~ .home-usersSection {
  //       opacity: 0.5;
  //     }
  //   }
  // }


}
