.product{
  font-family: $font-ss;
  &-navbarContainer {
    padding: 28px;
  }
  &-backGalleryContainer{
    display: flex;
    color: #F76C5E;
    font-size: 14px;
    padding: 75px 0 0 80px;  
  }
  &-backText{
    color: #F76C5E;
  }
  &-backImg{
    margin-right: 5px;
  }
  &-contentContainer{
    display: flex;
    color: #052464;
  }
  &-imgContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 500px;
    height: 400px;
    margin: 70px 160px 28px 160px;
  }
  &-rectangle{
    width: 500px;
    height: 400px;
    position: relative;
  }
  &-contentImg{
    position: absolute;
    z-index: 1;
  }
  &-btn3D{
    cursor: pointer;
    margin-left: 23.5rem;
    width: 85px;
    height: 35px;
    color: #FFF;
    background-color: $yellow;
    border: none;
  }
  &-descriptionContainer{
    margin-top: 90px;
    text-align: center;
  }
  &-titleProject{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &-designedBy{
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 10px
  }
  &-authorName{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &-tags{
    color: #AEAEAE;
    font-size: 14px;
    font-weight: italic;
  }
  &-viewLikeContainer{
    display: flex;
    align-items: center;
    margin: 60px 0 0 270px;
    color: #AEAEAE;
    font-size: 12px;
  }
  &-viewsText{
    margin: 0 20px 0 4px;
  }
  &-likeText{
    margin-left: 4px;
  }
  &-btnContainer{
    margin: 55px 0;
  }
  &-subBtn{
    margin: 11px 0;
  }
  &-buyBtn{
    cursor: pointer;
    width: 265px;
    height: 35px;
    color: white;
    background-color: $yellow;
    border: none;
    transition: ease 0.2s;
    &:hover {
      background-color: rgb(235, 197, 74);
    }
  }
  &-editBtn{
    cursor: pointer;
    width: 127px;
    height: 34px;
    color: $darkBlue;
    background-color: #fff;
    border: 2px solid $darkBlue;
    margin-right: 5px;
    transition: ease-out 0.4s;
    &:hover {
      box-shadow: inset 200px 0 0 0 $darkBlue;
      color: #fff;
    }
  }
  &-addBtn{
    cursor: pointer;
    width: 127px;
    height: 34px;
    color: $darkBlue;
    background-color: #fff;
    border: 2px solid $darkBlue;
    margin-left: 5px;
    transition: ease-out 0.4s;
    &:hover {
      box-shadow: inset 200px 0 0 0 $darkBlue;
      color: #fff;
    }
  }
}
