// global
@import './global/reset';
@import './global/variables';
// mixins
@import './mixins/forsize';
// components
@import './components/homepage';
@import './components/customization';
@import './components/gallery';
@import './components/product';
// fonts
@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i,500,500i,700,800');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  width: 100%;
}

h1 {
  font-family: $font-ss;
  font-size: 44px;
  font-weight: 800;
}

h2 {
  font-family: $font-ss;
  font-size: 28px;
  font-weight: 700;
}

h3 {
  font-family: $font-ss;
  font-size: 18px;
  font-weight: 700;
}

p {
  font-family: $font-ss;
  font-size: 14px;
  font-weight: 500;
}
